#container{
    width: 85%;
    max-width: 30rem;
    margin: auto;
    height: 85vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    @media(max-width: $phone){
        padding-top: 3.5rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            flex : 1;
            letter-spacing: 10px;
            color: #fff;
            z-index: 5;
        }

        input{
            display: none; 
        }

        label{
            cursor: pointer;
            transform: translateY(2px);
        }
    }

    main{
        max-height: 70vh;
        display: flex;
        flex-direction: column;
        padding-top: 1.8rem;
        position: relative;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        @media (max-width: $phone) {
            max-height: 65vh;
            margin-bottom: 1rem;
        }

        nav{
            position: sticky;
            background-color: #fff;
            font-size: .7rem;
            padding: 1rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
    
            display: flex;
            align-items: center;
          
            .clear-complete{
                background-color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
                font-family: inherit;
                color: $light-grayish-3;
                font-size: .7rem;
                &:hover{
                     color: $light-grayish-4;
                 }
            }
    
            .item-left{
                color: $light-grayish-3;
                cursor: default;
     
                @media(max-width: $phone){
                    flex: 1
                }
            }
        }
    }
     
    .shadow-layout{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        box-shadow: 10px 30px 30px -10px $light-grayish-1, -10px 30px 30px -10px $light-grayish-1;
        z-index: -100;
    }
}


