// Primary color
$color-bright-blue: hsl(220, 98%, 61%);
$color-check: linear-gradient(to right bottom ,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));

// Light Theme
$light-gray: hsl(0, 0%, 98%);
$light-grayish-1: hsl(236, 33%, 92%);
$light-grayish-2: hsl(233, 11%, 84%);
$light-grayish-3: hsl(236, 9%, 61%);
$light-grayish-4: hsl(235, 19%, 35%);

// Dark theme
$dark-blue-1: hsl(235, 21%, 11%);
$dark-blue-2: hsl(235, 24%, 19%);
$dark-grayish-blue-1: hsl(234, 39%, 85%);
$dark-grayish-blue-hover: hsl(235, 32%, 92%);
$dark-grayish-blue-2: hsl(233, 11%, 52%);
$dark-grayish-blue-3: hsl(233, 14%, 35%);
$dark-grayish-blue-4: hsl(237, 16%, 26%);

$font-display: 'Josefin Sans', sans-serif;

// Media queries 
$phone: 37.5em 
